.clients-slider {
    width: 100%;

    .slick-slide {
        width: 170px;
        height: 90px;
        border: none;
        border-radius: 0;
        margin: 15px;
        display: inline-block;
    }
}

.clients-title {
    position: relative;
    width: 100%;
    display: block;
}