.view-more-data {
    background: $block-bg;
    width: 100%;
    padding: 28px 24px;

    .title {
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        text-transform: initial;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 600;
    }

    .text {
        color: $text-color;
        font-size: 13px;
        font-weight: 400;
        line-height: 20.8px;
    }

    .btn-view-more {
        float: right;
    }

    .text-wrapper {
        float: left;
    }
}