#footer {

    padding-top: 50px;
    padding-bottom: 45px;

    span,
    h4,
    a,
    p {
        color: $white;
    }

    .footer-title {
        color: #3b6460;
    }
}

.footer-copyright {
    background-color: #6AB3AC;
    height: 50px;
    line-height: 50px;

    .icon,
    p {
        color: $white;
    }
}
.footer_logo {
    margin-bottom: 30px;
}

.footer-social {
    .icon {
        font-size: 23px;
    }
}